package ${package.Controller};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;

import java.io.Serializable;

import com.example.simple.common.GlobalResponse;
import ${package.Parent}.vo.${entity}VO;
import ${package.Parent}.dto.${entity}DTO;

import ${package.Service}.${table.serviceImplName};
import ${package.Entity}.${entity};

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequiredArgsConstructor
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
public class ${table.controllerName} {

    private final ${table.serviceImplName} ${table.serviceImplName.substring(0,1).toLowerCase()}${table.serviceImplName.substring(1)};

    /**
     * 分页查询$!{table.comment}
     *
     * @param page 分页对象
     * @param ${entity.toLowerCase()}DTO 查询条件
     * @return 分页视图对象
     */
    @GetMapping("/page")
    public GlobalResponse<Page<${entity}VO>> page(Page<${entity}> page, ${entity}DTO ${entity.toLowerCase()}DTO) {
        return GlobalResponse.success(${table.serviceImplName.substring(0,1).toLowerCase()}${table.serviceImplName.substring(1)}.page(${entity.toLowerCase()}DTO, page));
    }

    /**
     * 通过id查询$!{table.comment}
     *
     * @param id ID
     * @return 视图对象
     */
    @GetMapping("/{id}")
    public GlobalResponse<${entity}VO> getById(@PathVariable("id") Serializable id) {
        return GlobalResponse.success(${table.serviceImplName.substring(0,1).toLowerCase()}${table.serviceImplName.substring(1)}.getVOById(id));
    }

    /**
     * 新增$!{table.comment}
     *
     * @param ${entity.toLowerCase()}DTO 数据传输对象
     * @return 是否成功
     */
    @PostMapping
    public GlobalResponse<Boolean> save(@RequestBody ${entity}DTO ${entity.toLowerCase()}DTO) {
        return GlobalResponse.success(${table.serviceImplName.substring(0,1).toLowerCase()}${table.serviceImplName.substring(1)}.saveByDTO(${entity.toLowerCase()}DTO));
    }

    /**
     * 修改$!{table.comment}
     *
     * @param ${entity.toLowerCase()}DTO 数据传输对象
     * @return 是否成功
     */
    @PutMapping
    public GlobalResponse<Boolean> updateById(@RequestBody ${entity}DTO ${entity.toLowerCase()}DTO) {
        return GlobalResponse.success(${table.serviceImplName.substring(0,1).toLowerCase()}${table.serviceImplName.substring(1)}.updateByDTO(${entity.toLowerCase()}DTO));
    }

    /**
     * 通过id删除$!{table.comment}
     *
     * @param id ID
     * @return 是否成功
     */
    @DeleteMapping("/{id}")
    public GlobalResponse<Boolean> removeById(@PathVariable("id") Serializable id) {
        return GlobalResponse.success(${table.serviceImplName.substring(0,1).toLowerCase()}${table.serviceImplName.substring(1)}.removeById(id));
    }
}