<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})
        <id column="${field.name}" property="${field.propertyName}" />
#else
        <result column="${field.name}" property="${field.propertyName}" />
#end
#end
    </resultMap>
#end

#if(${baseColumnList})
    <sql id="Base_Column_List">
        ${table.fieldNames}
    </sql>
#end

</mapper>