package ${package.Parent}.vo;

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import java.io.Serial;
import java.io.Serializable;
import lombok.Data;

/**
 * <p>
 * $!{table.comment} 视图对象
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class ${entity}VO implements Serializable {

    @Serial
    private static final long serialVersionUID = 1L;

#foreach($field in ${table.fields})
#if("$!field.comment" != "")
    /**
     * $!{field.comment}
     */
#end
    private ${field.propertyType} ${field.propertyName};

#end
}